body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}
.stopwatch {
    background: #222;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 300px;
}
.time {
    font-size: 2em;
    margin: 20px 0;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #fa8231;
}
button:active {
    transform: scale(0.98);
}
.laps {
    margin-top: 10px;
    text-align: left;
}
</style>